autoflake==2.3.0
black==24.2.0
cffi==1.16.0
cfgv==3.4.0
click==8.1.7
colorama==0.4.6
cryptography==42.0.2
distlib==0.3.8
fernet==1.0.1
filelock==3.13.1
identify==2.5.34
mypy-extensions==1.0.0
nodeenv==1.8.0
numpy==1.26.4
packaging==23.2
pathspec==0.12.1
platformdirs==4.2.0
pre-commit==3.6.1
pyaes==1.6.1
pycparser==2.21
pyflakes==3.2.0
PyYAML==6.0.1
virtualenv==20.25.0
